<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>

        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregarArticulo" class="py-4 mb-4 bg-light">
            <div class="container" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarArticulo">
                            <i class="fas fa-plus"> [[#{articulo.agregar}]]</i> 
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar cliente, es la ventana modal -->
        <section th:fragment="agregarArticulo">
            <div id="agregarArticulo" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{articulo.agregar}]]</h5>
                            <button type="button" 
                                    class="btn-close" 
                                    data-bs-dismiss="modal" 
                                    aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/articulo/guardar}" th:object="${articulo}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="descripcion">[[#{articulo.descripcion}]]</label>
                                    <input type="text" class="form-control" name="descripcion" required="true">
                                </div>
                                <div class="mb-3">
                                    <label for="detalle">[[#{articulo.detalle}]]</label>
                                    <input type="text" class="form-control" name="detalle" required="true">
                                </div>
                                <div class="mb-3">
                                    <label for="precio">[[#{articulo.precio}]]</label>
                                    <input type="number" class="form-control" name="precio" required="true">
                                </div>
                                <div class="mb-3">
                                    <label for="existencias">[[#{articulo.existencias}]]</label>
                                    <input type="number" class="form-control" name="existencias">
                                </div>
                                <div class="mb-3">
                                    <label for="imagen">[[#{articulo.imagen}]]</label>
                                    <input type="text" class="form-control" name="imagen">
                                </div>
                                <div class="mb-3">
                                    <label for="categoria">[[#{articulo.categoria}]]</label>
                                    <input type="number" class="form-control" name="categoria.idCategoria">
                                </div>
                                <div class="mb-3">
                                    <label for="activo">[[#{articulo.activo}]]</label>
                                    <input type="number" class="form-control" name="activo">
                                </div>
                            </div>
                            <div class="modal-footer" sec:authorize="hasRole('ROLE_ADMIN')">
                                <button class="btn btn-primary" type="submit">[[#{accion.guardar}]]</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informacion de la entidad cliente -->
        <section th:fragment="listadoArticulos" id="articulos">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{articulo.listado}]]</h4>
                            </div>
                            <div th:if="${articulos != null and !articulos.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th>[[#{articulo.descripcion}]]</th>
                                            <th>[[#{articulo.precio}]]</th>
                                            <th>[[#{articulo.existencias}]]</th>
                                            <th>[[#{articulo.imagen}]]</th>
                                            <th>[[#{articulo.categoria}]]</th>
                                            <th>[[#{articulo.activo}]]</th>                                            
                                            <th></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="articulo, contador : ${articulos}">
                                            <td>[[${contador.count}]]</td>´}

                                            <td>[[${articulo.descripcion}]]</td>
                                            <td>[[${articulo.precio}]]</td>                                            
                                            <td>[[${articulo.existencias}]]</td>
                                            <td><img th:src="${articulo.imagen}" style="width: 150px"/></td>
                                            <td>[[${articulo.categoria.descripcion}]]</td>
                                            <td>[[${articulo.activo}]]</td>
                                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/articulo/eliminar/}+${articulo.idArticulo}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a>
                                                <a th:href="@{/articulo/modificar/}+${articulo.idArticulo}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]</a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${articulos == null or articulos.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarArticulo">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/articulo/guardar}" th:object="${articulo}"
                          class="was-validated">
                        <input type="hidden" name="idArticulo" th:field="*{idArticulo}"/>
                        <section th:replace="~{articulo/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="descripcion">[[#{articulo.descripcion}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="descripcion" th:field="*{descripcion}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="detalle">[[#{articulo.detalle}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="detalle" th:field="*{detalle}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="precio">[[#{articulo.precio}]]</label>
                                                    <input type="number" class="form-control" 
                                                           name="precio" th:field="*{precio}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="existencias">[[#{articulo.existencias}]]</label>
                                                    <input type="number" class="form-control" 
                                                           name="existencias" th:field="*{existencias}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">[[#{articulo.imagen}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="imagen" th:field="*{imagen}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="categoria">[[#{articulo.categoria}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="categoria" th:field="*{categoria.idCategoria}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="activo">[[#{articulo.activo}]]</label>
                                                    <input type="number" class="form-control" 
                                                           name="activo" th:field="*{activo}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/articulo/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left">[[#{accion.regresar}]]</i> 
                        </a>
                    </div>
                    <div class="col-md-4 d-grid" sec:authorize="hasRole('ROLE_ADMIN')">                                
                        <a th:href="@{/articulo/eliminar/}+${articulo.idArticulo}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"> [[#{accion.eliminar}]]</i> 
                        </a>
                    </div>
                    <div class="col-md-4 d-grid" sec:authorize="hasRole('ROLE_ADMIN')">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check">[[#{accion.guardar}]] </i> 
                        </button>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>







